<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabs Manager 1.0 - Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <h1 class="title">Tab Manager</h1>

    <form>
        <input type="text" class="input is-rounded" placeholder="username" required><br>
        <input type="text" class="input is-rounded" placeholder="password" required><br>
        <button class="button is-primary is-rounded" type="submit">Login</button>

    </form>
    <script src="popup.js"></script>
</body>

</html>